# vscode
.vscode/
.cspell/

# Generated plots
plots/*
!plots/**/*.tex
playground/
figures/
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Environment
.venv

# Profiler
*.prof
*.csv

# Documentation
docs_source/build/*
examples/dissertation_bayer/plots/mathieu_spurious.tikz
plots/
hinged_hinged_N_10.tikz.pdf
*.pdf
*.tex
*.svg
*.gif
*.tikz
*.mat